{% extends 'base.html.twig' %}

{% block body %}

<h2>{{ categories.owner.name }}</h2>

{% for article in categories %}
    <p>{{ article.title }}</p>
    <p>{{ article.content }}</p>

{% endfor %}

{% endblock %}