{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
    <h2 class="mt-5 mb-5">{{ categories.owner.name }}</h2>

{% for article in categories %}
    <p class="display-4">{{ article.title }}</p>
    <p class="text-white mb-5">{{ article.content }}</p>

{% endfor %}
    </div>
{% endblock %}