{% extends 'base.html.twig' %}

{% block body %}

    <h2>Create a new article</h2>
.
    {{ include('article/_form.html.twig') }}

    <a href="{{ path('article_list') }}">back to list</a>

{% endblock %}